<?xml version="1.0" encoding="UTF-8"?>

<SETTINGS>
  <INFO>
    <VERSION>0.6.7</VERSION>
    <PLUGIN_API_VERSION>8</PLUGIN_API_VERSION>
    <DATE>31 Oct 2025 13:23:53</DATE>
    <OS>Windows 10</OS>
    <MACHINE name="TxBDC262270" cpu_model="Intel(R) Core(TM) i5-10500 CPU @ 3.10GHz"
             cpu_num_cores="12"/>
  </INFO>
  <SIGNALCHAIN>
    <PROCESSOR name="OE FPGA Acquisition Board" insertionPoint="0" pluginName="OE FPGA Acquisition Board"
               type="4" index="1" libraryName="OE FPGA Acquisition Board" libraryVersion="0.2.8"
               processorType="2" nodeId="100">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="24">
        <PARAMETERS/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="1" displayName="Acquisition Board"
              activeStream="0" Type="Visualizer" SampleRate="14" SampleRateString="25.0 kS/s"
              LowCut="2.495988241877236" HighCut="7603.76512183337" AUXsOn="0"
              ADCsOn="1" AudioOutputL="-1" AudioOutputR="-1" NoiseSlicer="0"
              TTLFastSettle="2" DAC_TTL="0" DAC_HPF="1" DSPOffset="1" DSPCutoffFreq="0.1457129257077072"
              save_impedance_measurements="0" auto_measure_impedances="0" LEDs="1"
              ClockDivideRatio="1" Channel_Naming_Scheme="1">
        <TAB Active="0" Index="-1"/>
        <WINDOW Active="0"/>
        <HSOPTIONS index="0" hs1_full_channels="0" hs2_full_channels="0"/>
        <HSOPTIONS index="1" hs1_full_channels="0" hs2_full_channels="0"/>
        <HSOPTIONS index="2" hs1_full_channels="0" hs2_full_channels="0"/>
        <HSOPTIONS index="3" hs1_full_channels="0" hs2_full_channels="0"/>
        <ADCRANGE Channel="0" Range="0"/>
        <ADCRANGE Channel="1" Range="0"/>
        <ADCRANGE Channel="2" Range="0"/>
        <ADCRANGE Channel="3" Range="0"/>
        <ADCRANGE Channel="4" Range="0"/>
        <ADCRANGE Channel="5" Range="0"/>
        <ADCRANGE Channel="6" Range="0"/>
        <ADCRANGE Channel="7" Range="0"/>
      </EDITOR>
    </PROCESSOR>
    <PROCESSOR name="Rec Controller Output" insertionPoint="1" pluginName="Rec Controller Output"
               type="1" index="9" libraryName="RHD Recording Controller" libraryVersion="0.4.0"
               processorType="3" nodeId="110">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="24">
        <PARAMETERS enable_stream="1" ttl_out="1" trigger_line="1" gate_line="0"
                    trigger="0" event_duration="500.0"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Rec Controller Output"
              activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="ZMQ Interface" insertionPoint="1" pluginName="ZMQ Interface"
               type="1" index="11" libraryName="ZMQ Interface" libraryVersion="0.3.3"
               processorType="3" nodeId="115">
      <GLOBAL_PARAMETERS Stream="0" data_port="5556"/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="24">
        <PARAMETERS enable_stream="1" Channels="1,2,3,4,5,6,8,9,10,12,13,14,15,16,17,18,19,20,21,22,23,24"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="ZMQ Interface"
              activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="Channel Map" insertionPoint="1" pluginName="Channel Map"
               type="1" index="3" libraryName="Channel Mapper" libraryVersion="0.6.7"
               processorType="1" nodeId="108">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1"/>
      </STREAM>
      <CUSTOM_PARAMETERS>
        <STREAM>
          <CH index="0" enabled="1"/>
          <CH index="1" enabled="0"/>
          <CH index="2" enabled="0"/>
          <CH index="3" enabled="0"/>
          <CH index="4" enabled="1"/>
          <CH index="5" enabled="0"/>
          <CH index="6" enabled="1"/>
          <CH index="7" enabled="0"/>
          <CH index="8" enabled="0"/>
          <CH index="9" enabled="0"/>
          <CH index="10" enabled="1"/>
          <CH index="11" enabled="0"/>
          <CH index="12" enabled="0"/>
          <CH index="13" enabled="0"/>
          <CH index="14" enabled="0"/>
          <CH index="15" enabled="0"/>
          <CH index="16" enabled="1"/>
          <CH index="17" enabled="0"/>
          <CH index="18" enabled="0"/>
          <CH index="19" enabled="0"/>
          <CH index="20" enabled="0"/>
          <CH index="21" enabled="0"/>
          <CH index="22" enabled="0"/>
          <CH index="23" enabled="0"/>
        </STREAM>
      </CUSTOM_PARAMETERS>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Channel Map" activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="Record Node" insertionPoint="1" pluginName="Record Node"
               type="0" index="3" libraryName="" libraryVersion="" processorType="8"
               nodeId="111">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1"/>
      </STREAM>
      <CUSTOM_PARAMETERS path="C:\Users\labuser\Desktop\dEMG Data" engine="BINARY" recordEvents="1"
                         recordSpikes="0" fifoMonitorsVisible="1">
        <STREAM isMainStream="1" sync_line="0" name="Rhythm Data" source_node_id="100"
                sample_rate="25000.0" channel_count="5" recording_state="ALL"/>
      </CUSTOM_PARAMETERS>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="RAW" activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="LFP Viewer" insertionPoint="1" pluginName="LFP Viewer"
               type="1" index="6" libraryName="LFP viewer" libraryVersion="0.6.7"
               processorType="3" nodeId="103">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="LFP Viewer" activeStream="0"
              Type="LfpDisplayEditor">
        <TAB Active="1" Index="4"/>
        <WINDOW Active="0"/>
        <VALUES SelectedLayout="2"/>
        <LFPDISPLAY0 SubprocessorID="10003" Range="5000,2000,10.0" Timebase="2.0"
                     Spread="100" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="1" satWarning="1" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="2" trialAvg="0" singleChannelView="-1" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <LFPDISPLAY1 SubprocessorID="10003" Range="5000,2000,10.0" Timebase="10.0"
                     Spread="100" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="1" satWarning="1" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="1" trialAvg="0" singleChannelView="-1" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <LFPDISPLAY2 SubprocessorID="10003" Range="10000,2000,10.0" Timebase="20.0"
                     Spread="40" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="1" satWarning="1" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="1" trialAvg="0" singleChannelView="-1" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <CANVAS doubleVerticalSplitRatio="0.25045046210289" doubleHorizontalSplitRatio="0.5"
                tripleHorizontalSplitRatio="0.33,0.66" tripleVerticalSplitRatio="0.33,0.66"
                showAllOptions="0"/>
      </EDITOR>
    </PROCESSOR>
    <PROCESSOR name="Common Avg Ref" insertionPoint="1" pluginName="Common Avg Ref"
               type="1" index="4" libraryName="Common Average Reference" libraryVersion="0.6.7"
               processorType="1" nodeId="114">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1" Affected="4" Reference="3" gain_level="100.0"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Common Avg Ref"
              activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="Bandpass Filter" insertionPoint="1" pluginName="Bandpass Filter"
               type="1" index="5" libraryName="Bandpass Filter" libraryVersion="0.6.7"
               processorType="1" nodeId="104">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1" high_cut="2.0" low_cut="0.1000000014901161"
                    Channels="1,5"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Bandpass Filter"
              activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="LFP Viewer" insertionPoint="1" pluginName="LFP Viewer"
               type="1" index="6" libraryName="LFP viewer" libraryVersion="0.6.7"
               processorType="3" nodeId="109">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="1" isDrawerOpen="0" displayName="LFP Viewer" activeStream="0"
              Type="LfpDisplayEditor">
        <TAB Active="1" Index="6"/>
        <WINDOW Active="0"/>
        <VALUES SelectedLayout="2"/>
        <LFPDISPLAY0 SubprocessorID="10003" Range="2000,2000,10.0" Timebase="0.050"
                     Spread="100" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="2" satWarning="5" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="2" trialAvg="0" singleChannelView="-1" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <LFPDISPLAY1 SubprocessorID="10003" Range="400,2000,10.0" Timebase="10.0"
                     Spread="100" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="2" satWarning="5" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="1" trialAvg="0" singleChannelView="3" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <LFPDISPLAY2 SubprocessorID="10003" Range="5000,2000,10.0" Timebase="20.0"
                     Spread="100" colourScheme="1" colorGrouping="1" spikeRaster="OFF"
                     clipWarning="1" satWarning="1" reverseOrder="0" sortByDepth="0"
                     channelSkip="1" showChannelNum="0" subtractOffset="0" isInverted="0"
                     triggerSource="1" trialAvg="0" singleChannelView="-1" EventButtonState="255"
                     ChannelDisplayState="11111" ScrollX="0" ScrollY="0"/>
        <CANVAS doubleVerticalSplitRatio="0.1500000059604645" doubleHorizontalSplitRatio="0.5"
                tripleHorizontalSplitRatio="0.248344,0.486755" tripleVerticalSplitRatio="0.33,0.66"
                showAllOptions="0"/>
      </EDITOR>
    </PROCESSOR>
    <PROCESSOR name="Audio Monitor" insertionPoint="1" pluginName="Audio Monitor"
               type="0" index="4" libraryName="" libraryVersion="" processorType="6"
               nodeId="102">
      <GLOBAL_PARAMETERS audio_output="1" mute_audio="0"/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1" Channels="4"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Audio Monitor"
              activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="Record Node" insertionPoint="1" pluginName="Record Node"
               type="0" index="3" libraryName="" libraryVersion="" processorType="8"
               nodeId="106">
      <GLOBAL_PARAMETERS/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1"/>
      </STREAM>
      <CUSTOM_PARAMETERS path="C:\Users\labuser\Desktop\dEMG Data" engine="BINARY" recordEvents="1"
                         recordSpikes="0" fifoMonitorsVisible="1">
        <STREAM isMainStream="1" sync_line="0" name="Rhythm Data" source_node_id="100"
                sample_rate="25000.0" channel_count="5" recording_state="ALL"/>
      </CUSTOM_PARAMETERS>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Filtered" activeStream="0"/>
    </PROCESSOR>
    <PROCESSOR name="Spectrum Viewer" insertionPoint="1" pluginName="Spectrum Viewer"
               type="1" index="10" libraryName="Spectrum Viewer" libraryVersion="0.2.1"
               processorType="3" nodeId="113">
      <GLOBAL_PARAMETERS active_stream="10003"/>
      <STREAM name="Rhythm Data" description="Continuous and event data from a device running Rhythm FPGA firmware"
              sample_rate="25000.0" channel_count="5">
        <PARAMETERS enable_stream="1" Channels="4,3,2"/>
      </STREAM>
      <CUSTOM_PARAMETERS/>
      <EDITOR isCollapsed="0" isDrawerOpen="0" displayName="Spectrum Viewer"
              activeStream="0" Type="Visualizer" display_type="2" frequency_range="3">
        <TAB Active="1" Index="39"/>
        <WINDOW Active="0"/>
      </EDITOR>
    </PROCESSOR>
  </SIGNALCHAIN>
  <EDITORVIEWPORT scroll="1067">
    <OE_FPGA_ACQUISITION_BOARD ID="100"/>
    <REC_CONTROLLER_OUTPUT ID="110"/>
    <ZMQ_INTERFACE ID="115"/>
    <CHANNEL_MAP ID="108"/>
    <RECORD_NODE ID="111"/>
    <LFP_VIEWER ID="103"/>
    <COMMON_AVG_REF ID="114"/>
    <BANDPASS_FILTER ID="104"/>
    <LFP_VIEWER ID="109"/>
    <AUDIO_MONITOR ID="102"/>
    <RECORD_NODE ID="106"/>
    <SPECTRUM_VIEWER ID="113"/>
  </EDITORVIEWPORT>
  <DATAVIEWPORT selectedTab="6"/>
  <AUDIO sampleRate="48000.0" bufferSize="480" deviceType="Windows Audio">
    <DEVICESETUP deviceType="Windows Audio" audioOutputDeviceName="Speakers (Realtek(R) Audio)"
                 audioInputDeviceName="" audioDeviceRate="48000.0"/>
  </AUDIO>
  <CONTROLPANEL isOpen="1" recordPath="C:\Users\labuser\Documents\Open Ephys"
                recordEngine="BINARY" clockMode="0"/>
  <AUDIOEDITOR isMuted="0" volume="90.0" noiseGate="49.0"/>
  <FILENAMECONFIG>
    <PREPEND state="2" value="dEMG_Pilot-001"/>
    <MAIN state="1" value="2025-10-31_13-23-53"/>
    <APPEND state="1" value="_001"/>
  </FILENAMECONFIG>
  <PROCESSORLIST>
    <COLOR ID="801" R="59" G="59" B="59"/>
    <COLOR ID="804" R="241" G="90" B="41"/>
    <COLOR ID="802" R="0" G="174" B="239"/>
    <COLOR ID="803" R="0" G="166" B="81"/>
    <COLOR ID="805" R="147" G="149" B="152"/>
    <COLOR ID="806" R="255" G="0" B="0"/>
    <COLOR ID="807" R="0" G="0" B="0"/>
  </PROCESSORLIST>
  <UICOMPONENT isProcessorListOpen="1" isEditorViewportOpen="1"/>
</SETTINGS>
